[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "jquery"]
	path = jquery
	url = https://github.com/jquery/jquery.git
[submodule "underscore"]
	path = underscore
	url = https://github.com/jashkenas/underscore.git
